<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>wbpopupproducts</name>
    <displayName><![CDATA[Wb Popup Products]]></displayName>
    <version><![CDATA[1.1.1]]></version>
    <description><![CDATA[Show Popup Products Bottom Left Side of Front Side.]]></description>
    <author><![CDATA[Webibazaar]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
